<html>
  <head>
    <title>Histories | Create</title>
  </head>
  <body>
    <form method="POST" action="/users">
      <label for="tanggal_main">tanggal_main</label>
      <br>
      <input type="string" name="tanggal_main"/>
      <br>

      <label for="hasil">hasil</label>
      <br>
      <input type="string" name="hasil"/>
      <br>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>