<!-- views/histories/show.ejs -->
<html>
  <head>
    <title>Histories | <%= histories.tanggal_main %></title>
  </head>
  <body>
    <div>
      <h1><%= Histories.tanggal_main %></h1>
      <p><%= Histories.hasil %></p>
    </div>
  </body>
</html>