<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors Game</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Rock Paper Scissors Game</h1>

	<a href="index.ejs" class="btn_style">Go Back</a>

 
    	<div class="container">
        	<div class="area-computer">
            		<img src="./assetsRPS/rock.png" class="img-computer">
        	</div>
        	<div class="info"></div>
        	<div class="area-player">
            		<ul>
                		<li>
                    			<img src="./assetsRPS/rock.png" class="rock">
                		</li>
                		<li>
                    			<img src="./assetsRPS/paper.png" class="paper">
                		</li>
                		<li>
                    			<img src="./assetsRPS/scissors.png" class="scissors">
                		</li>
            		</ul>
        	</div>
    	</div>
      
<script src="../public/js/script.js"></script>
</body>
</html>