<html>
  <head>
    <title>Biodata | Create</title>
  </head>
  <body>
    <form method="POST" action="/biodata">
      <label for="tanggal_lahir">tanggal_lahir</label>
      <br>
      <input type="string" name="tanggal_lahir"/>
      <br>

      <label for="jenis_kelamin">jenis_kelamin</label>
      <br>
      <input type="string" name="jenis_kelamin"/>
      <br>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>