<!-- views/biodata/show.ejs -->
<html>
  <head>
    <title>Biodata | <%= biodata.tanggal_lahir %></title>
  </head>
  <body>
    <div>
      <h1><%= Biodata.tanggal_lahir %></h1>
      <p><%= Biodata.jenis_kelamin %></p>
    </div>
  </body>
</html>