<!-- // views/users/index.ejs -->
<html>
  <head>
    <title>Users | All</title>
  </head>
  <body>
    <% users.forEach(i => { %>
      <div>
        <h1><%= i.username %></h1>
        <p><%= i.password %></p>
        <a href="/users/<%= i.id %>">Berhasil!</a>
      </div>
    <% }) %>
  </body>
</html>