<!-- views/users/show.ejs -->
<html>
  <head>
    <title>Users | <%= user.username %></title>
  </head>
  <body>
    <div>
      <h1><%= Users.username %></h1>
      <p><%= Users.password %></p>
    </div>
  </body>
</html>